/* Maryam CSS */

.App {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}
.cellpadding {
  padding-left: 10px;
  padding-right: 10px;
}

/* Abdulelah & Afnan CSS */

.card {
  margin-top: 30px;
}

.ImageButton {
  margin-top: 10px;
}
.uplosdImage {
  margin-top: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}
div.col-sm-4 {
  margin-top: 36px;
}
#profileBox {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 5px;
  margin: 50px 50px 50px;
}

.reserveButton {
  margin-left: 80px;
  display: flex;
  justify-content: space-around;
}

/* Abdulaziz & Shahad CSS */

.Nav-Links {
  margin-top: 40px;
}
